/******************************************************************
Site Name: SIR Annual Report 2015
Author: Sagetopia

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


body {
	font-size: 100%;
}

a {
	transition: all 0.2s ease-in-out;
}



/************************
H1, H2, H3, H4, H5 STYLES
*************************/

h1 {
	font-size: 5.3125em;
}

h2 {
	font-size: 2.6875em;
}


/*********************
NAVIGATION STYLES
*********************/

.menu-toggle, .mobile {
	display: none;
}

#main-nav {
	display: block;

  	&[data-magellan-expedition-clone] {
		display: none;
	}

	&[data-magellan-expedition] {
	  	top: 20px;
	  	background: transparent;
	}

	&.fixed {
		width: 32%;
	}

	.logo-wrap {
		width: 300px;
		max-width: 100%;
		background-color: $white;
  		padding: 2em 2em 1.25em 3em;
  		border-radius: 3px;
  		margin-left: -1em;
  		box-shadow: 0 0 25px -1px transparentize($black, 0.7);

  		object, img {
  			width: 100%;
  		}
	}
}

.sub-nav {
	padding: 1em;

	dd {
		padding: 0.2em 0;
		float: none;
		font-family: $sans-serif;

		a {
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.125em;
			letter-spacing: 1px;
  			line-height: 1.5 !important;
  			padding: 0.2em 1em 0.03em;

  			&, &:focus, &:active {
	  			color: $text-color;
	  			background: $white;
  			}

  			&:hover {
  				color: $white;
  				background-color: $blue;
  			}
		}

		&.active, &.active dd {
			display: block;

			a {
				color: $white;
  				border-radius: 0;
  				padding: 0.2em 1em 0.02em;

  				&:hover {
  					background-color: $blue;
  				}
			}
		}

		&.active {
			& > a {
				background-color: $blue;
			}

			dl a {
				background: $white;
				color: $text-color;

				&:hover {
					color: $white;
				}
			}
		}
	}

	& > dd {
		margin-left: 0;

		& > a, &.active > a {
			font-weight: bold;
		}
	}

	dl {
		margin: 0;

		dd {
			display: none;
			transition: all 0.3s ease-in;

			a {
				text-transform: none;
			}
		}
	}
}


/*********************
GENERAL STYLES
*********************/

.sub-title {
	margin-top: 2em;
}

blockquote {
    margin: 0;
    font-size: 0.9em;
}

.boxed {
	padding: 1.5em;

	&.alignright, &.alignleft {
		max-width: 230px;
	}

	&.audio {
	    margin: 2em 0 2em 65px;
	    padding: 1em 1em 1em 90px;

	    &.with-image {
	    	margin-left: 95px;
	    	padding-left: 120px;
	    }

	    .attachment {
	    	top: 50%;

	    	&.icon {
	    		left: -65px;
	    		margin-top: -65px;
	    	}

	    	&.image {
	    		left: -95px;
	    		margin-top: -95px;
	    	}
	    }
	}

	&.stat {
		.twitter {
			&:hover {
				color: lighten($blue, 9%);
			}
		}
	}
}


.icon-stats {
	.stat {
		.number, .icon {
			display: inline-block;
			vertical-align: middle;
		}

		.number {
			max-width: calc(100% - 205px);

			span {
				font-size: 3em;
			}
		}

		.icon {
			max-width: 200px;
		}
	}
}


.gallery {
	display: block;

	.gallery-item {
		float: left;
		position: relative;

		&.image {
			overflow: hidden;
			background-color: $light-grey;

			.inner {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:before {
				content: '';
				display: block;
				height: 0;
				padding-bottom: 62.5%;
			}

			img {
				min-height: 100%;
				min-width: 100%;
				cursor: pointer;
			}
		}
	}

	.col-1-1 {
        width: 25%;
    }

    .col-1-2 {
        width: 25%;

        &.new-row {
        	margin-left: 25%;
        }
    }

    .col-1-3 {
        width: 25%;

        &.new-row {
        	margin-left: 50%;
        }
    }

    .col-1-4 {
        width: 25%;
        float: right;

        &.new-row {
        	margin-left: 75%;
        }
    }

    .col-2-1 {
        width: 50%;
    }

    .col-2-2 {
        width: 50%;

        &.new-row {
        	margin-left: 25%;
        }
    }

    .col-2-3 {
        width: 50%;
        float: right;

        &.new-row {
        	margin-left: 50%;
        }
    }

    .col-3-1 {
        width: 75%;
    }

    .col-3-2 {
        width: 75%;
        float: right;

        &.new-row {
        	margin-left: 25%;
        }
    }

    .col-4-1 {
        width: 100%;
    }

    .col-right {
    	float: right;
    }

	.new-row {
		clear: both;
	}

}

.image-slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	margin: 0 !important;
	z-index: -1;
	background-color: transparentize($black, 0.2) !important;

	&.active {
		position: fixed;
	}

	.slideshow-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 775px !important;
		height: 500px;

		.close-btn {
			position: absolute;
		    right: -8px;
		    bottom: 100%;
		    width: 40px;
		    height: 40px;
		    cursor: pointer;

		    span {
		    	position: absolute;
		    	display: block;
		    	width: 100%;
		    	height: 100%;
		    	transform: rotate(45deg);

		    	&.bottom {
		    		transform: rotate(-45deg);
		    	}

		    	&:before {
		    		content: '';
		    		position: relative;
		    		display: block;
			    	height: 4px;
			    	top: 18px;
			    	left: 6px;
			    	width: 28px;
			    	background-color: $white;
			    }
		    }
		}
	}

	.bx-wrapper {
		background-color: $black;
	}

	.bx-controls-direction {
		.bx-prev, .bx-next {
			background: $blue;
			color: $white;
			text-indent: 0;
			width: auto;
			top: calc(100% + 5px);
			margin: 0;
			padding: 0.25em 0.5em;
		}

		.bx-prev {
			left: 0;

			&:before {
				content: '<';
			}
		}

		.bx-next {
			right: 0;

			&:after {
				content: '>';
			}
		}
	}
}
	.section.slideshow-open {
		z-index: 100;
	}

.quote-slideshow {
	display: none;
}

/*********************
LINK STYLES
*********************/

.ext-link:hover:after {
	background-color: darken($orange, 9%);
}


/*********************
SECTION HEADERS
*********************/

.section-header .header-image {
	background-size: auto 200%;

	&.cover {
		background-size: 100% auto;
		background-size: cover;
	}
}

@each $section, $values in $sections {
	@if (map-get($values, image)) {
		.no-js .#{$section} {
			.section-header {
				background-image: url('https://d2o0out0f0eahq.cloudfront.net/img/header_bg_#{$section}.jpg');
			}
		}
	}
}

/*********************
HEADER
*********************/

#header {
	background-image: url('https://d2o0out0f0eahq.cloudfront.net/img/header_bg_intro.jpg');
  	padding: 8em 0;

  	.row {
  		width: 75%;
  		max-width: 860px;
  	}

  	.sub-title {
  		font-size: 2.25em;
  		max-width: 800px;
  		margin: 0 auto;
  	}
}
	#introbutton {
	  	position: relative;
	  	bottom: -50px;
	  	margin-top: 80px;
	}


/*********************
INTRO
*********************/

.intro {

	@media (max-width: 1029px) {
		.bio {
			float: none;
			margin: 0.5em 0 0; 
		}
	}
}

/*********************
DONORS
*********************/

.donors {
	p {
		margin-top: 5em;
	}
}
