/******************************************************************
Site Name: SIR Annual Report 2015
Author: Sagetopia

Stylesheet: Desktop Stylsheet
******************************************************************/

/************************
H1, H2, H3, H4, H5 STYLES
*************************/

h1 {
	font-size: 5.3125em;
}

h2 {
	font-size: 2.6875em;
}

.section-header {
	background-size: 100% auto;
	background-size: cover;
}

.membership .stat {
	width: 21.25%;

	&.m-last {
		margin-right: 5%;
	}

	&.last {
		margin-right: 0;
	}
}

.bx-controls-direction {
	.bx-prev {
		left: -35px;
	}

	.bx-next {
		right: -35px;
	}
}