/******************************************************************
Site Name: SIR Annual Report 2015
Author: Sagetopia

Stylesheet: Variables
******************************************************************/

$assetpath: 		'#{$cdnurl}/assets';
$imgpath: 			'#{$assetpath}/img';


/*********************
FONTS
*********************/

$roboto:            'roboto';
$roboto-slab:       'Roboto Slab';
$nunito:            'Nunito';

$sans-serif:        $nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             $nunito, "Georgia", Cambria, Times New Roman, Times, serif;

$fa:                "FontAwesome";
$lcc-icons:         'fontello'; 


/*********************
COLORS
*********************/

$white:				#ffffff;
$light-grey:		#f3f8fa;
$grey:				#d1dde6;
$dark-grey:			#333333;
$black:				#232323;

$light-green:		#d4e05a;
$green:				#8cc63e;
$dark-green:		#005e20;

$light-blue:		#53b7e7;
$blue:				#007bb4;
$dark-blue:			#0060a3;

$light-yellow:		#ffeb95;
$yellow:			#ffd54e;
$orange:			#fbaf17;
$red:				#cd1b21;

$light-purple:		#a2b9e0;
$purple:			#543b8b;
$dark-purple:		#2d1451;

$text-color:        $dark-grey;
$border-color:      $grey;


$twitter-blue:		#8db9ca;


$sections: (
	engage: (
		light-color: $light-blue,
		color: $blue,
		dark-color: $dark-blue,
		image: true
	), 
	advocate: (
		light-color: $light-green, 
		color: $green,
		dark-color: $dark-green,
		image: true
	), 
	community: (
		light-color: $yellow, 
		color: $orange,
		dark-color: $red,
		image: true
	), 
	awards: (
		light-color: $light-purple, 
		color: $purple,
		dark-color: $dark-purple,
		image: true
	), 
	board: (
		light-color: $light-green, 
		color: $green,
		dark-color: $dark-green,
		image: true
	), 
);
