<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <title>{{ site.company.name }} | {{ site.title }}</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/wpw7bol.js"></script>
    <script>try{Typekit.load({async: true});}catch(e){}</script>
    <link rel="stylesheet" href="assets/styles/main.css" />

    <!--[if lt IE 10]> <script type="text/javascript" src="js/min/classlist.min.js"></script><![endif]-->

    <!-- Drop GAnalytics -->
</head>