<header id="header" class="section parallax">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="section-title">{{ site.company.name }}</h3>
            <object type="image/svg+xml" data="{{ 'lcc_report_main' | append: site.navigation[i].slug | append: '.svg' | prepend: site.imgpath | prepend: site.cdnurl }}" alt="2016 Annual Report Logo" width="960"> 
                <img src="{{ 'lcc_report_main' | append: site.navigation[i].slug | append: '.png' | prepend: site.imgpath | prepend: site.cdnurl }}" width="1873" height="679" alt="2016 Annual Report Logo" /> 
            </object>
            <h1 class="main-title">Annual Report</h1>
        </div>
    </div>
    <div id="introbutton" class="icon-circle"> 
    	<a href="#{{ site.navigation[0].slug }}"><i class="fa fa-chevron-down"></i></a> 
    </div>
</header>