<div class="row">
    <div class="large-12 columns">
        <h2 class="sub-title">Dear Fellow Chamber Members,</h2>

        <p>Happy New Year!!</p>

        <p>I can&rsquo;t believe that 2016 is over. It seems like yesterday that I was on this stage accepting the gavel from the outgoing Chairman Chris Charron at the 2016 Annual Meeting. I must say it&rsquo;s been an honor to serve as the Chairman of the Loudoun County Chamber of Commerce. At the 2016 Annual Meeting I talked about getting engaged in our Chamber and our community and all of you responded in a big way. I&rsquo;m very proud and excited about several Chamber accomplishments in 2016.</p>

        <p>New member revenue, excluding years when major membership drives were held, is at an all-time high, as is the overall value of all membership dues, which increased by 7% during the past 12 months. Overall retention and retention for first year members is at an all-time high. This is due to the hard work of our ambassador committee under the leadership of the Membership Chairman, Dave Jones.</p>

        <p>I am especially proud that the Chamber launched the Young Entrepreneurs Academy in 2016. This initiative accepted 30 students into an intensive 30-week program that will teach them how to develop and launch their own business. I am also proud that we had 50 local business leaders volunteer to serve as instructors, mentors, classroom speakers and advisors to support our student entrepreneurs. A big thank you to Loudoun County&rsquo;s Economic Development Authority, Public Schools, Department of Economic Development, the Mason Enterprise Center and Loudoun Youth for their partnership on the Young Entrepreneurs Academy.</p> 

        <p>In late 2014, the Chamber created the Loudoun Chamber Foundation to support local nonprofits that are focused on the Chamber&rsquo;s priorities. In 2016 we awarded $2,000 to five deserving Loudoun County nonprofits that have been working very hard with the residents in our community.</p>

        <p>For nearly 10 years I&rsquo;ve worked closely with our incoming 2017 Chairman, Tina Johnson. She is a longtime resident and business owner in Loudoun County. The Chamber will be in her capable hands for the next 12 months.</p> 

        <p>I would like to thank everyone for getting engaged in our Chamber and our community in 2016. It has been an honor and privilege to serve as the Chairman of the Board for the Loudoun County Chamber of Commerce for the past year.</p>

        <div class="bio-image"> 
            {% include lazy-image.html src="jay_greg.jpg" height="187" width="150" alt="Greg Jay" %}
        </div>

        <div class="signature">
            <p>Sincerely,</p>
            {% include lazy-image.html src="jay_greg-signature.gif" height="86" width="240" alt="Greg Jay Signature" %}
            <p>Greg Jay<br> <em>Chairman, John Marshall Bank</em></p>
        </div>

        <div class="clearout" style="display: none;">
            {% for i in (1..3) %}
            <div class="{{ site.navigation[i].slug }} icon-box cf">
                <a href="#{{ site.navigation[i].slug }}" class="icon-circle alignleft">
                    <object type="image/svg+xml" data="{{ 'icon/icon-' | append: site.navigation[i].slug | append: '.svg' | prepend: site.imgpath | prepend: site.cdnurl }}" alt="icon-{{ site.navigation[1].slug }}" height="120" width="120"> 
                        <img src="{{ 'icon/icon-' | append: site.navigation[i].slug | append: '.png' | prepend: site.imgpath | prepend: site.cdnurl }}" width="120" height="120" alt="icon-care" /> 
                    </object>
                </a>
                <h4 class="box-title">{{ site.navigation[i].title }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<span data-magellan-destination="{{ site.navigation[1].slug }}"></span> 