<nav id="main-nav" data-magellan-expedition="fixed">
    <div class="logo-wrap">
        <object type="image/svg+xml" data="{{ site.cdnurl }}/img/logo_sir.svg" alt="lcc_logo"> 
            <img src="{{ site.cdnurl }}/img/logo_sir.png" width="185" height="95" alt="lcc_logo" /> 
        </object>
    </div>
    <dl class="sub-nav">
        <dd data-magellan-arrival="section-1"><a href="#section-1">Introduction</a></dd>
        <dd data-magellan-arrival="section-2"><a href="#section-2">Engage</a></dd>
        <dd data-magellan-arrival="section-3"><a href="#section-3">Advocate</a></dd>
        <dd data-magellan-arrival="section-4"><a href="#section-4">Community</a></dd>
        <dd data-magellan-arrival="section-5"><a href="#section-5">Awards</a></dd>
        <dd data-magellan-arrival="section-6"><a href="#section-6">Board of Directors</a></dd>
    </dl>
</nav>