<section id="section-2" class="care section">
    <header class="section-header parallax cf" data-lazy="care">
        <div class="row large-12 columns">
            <h1 class="main-title">Engage</h1> 
        </div>
    </header>
    <div class="row">
        <div class="large-12 columns">

            <article class="story boxed">
                <p>Our mission at the Loudoun County Chamber of Commerce is to partner with our member businesses, nonprofit organizations and government partners, to create experiences and opportunities that produce personal, professional and community success. This means tha twe work to  bring our community together to make a difference in the quality of life and business climeate here in Loudoun County.</p>
            </article>
            
            <div class="iconbox">
                <aside class="stat boxed">
                    <h2 class="number">24%</h2>
                    <p>SIR overall</p>
                </aside>
                <aside class="stat boxed m-last">
                    <h2 class="number">152%</h2>
                    <p>Students</p>
                </aside>
                <aside class="stat boxed">
                    <h2 class="number">33%</h2>
                    <p>Residents</p>
                </aside>
                <aside class="stat boxed m-last last">
                    <h2 class="number">19%</h2>
                    <p>Fellows</p>
                </aside>
            </div>

            <blockquote>Joining the Chamber has been hugely instrumental to our business in more ways than we anticipated prior to joining. Not only have we met so many like-minded individuals that share a similar journey, but we have grown our immediate network to further support and positively impact our business.</blockquote>
            <div class="caption">Sophie DeHenzel, Co-Owner, DeHenzel Training Systems</div>

            <div class="gallery">

            </div>

        </div>
    </div>
    <span data-magellan-destination="section-3"></span> 
</section>