<!DOCTYPE html>
<html class="loading no-js">
    {% include head.html %}

    <body class="home">
        {% include header.html %}

        <main id="page-container">
            <div id="canvas">
                {% include intro.html %}

                <section data-magellan-destination="{{ site.navigation[0].slug }}" id="{{ site.navigation[0].slug }}" class="{{ site.navigation[0].slug }} section">
                    {% include navigation.html %}
                    {% include letter.html %}
                </section>
                
                {% assign s_sections = site.sections | sort: 'order' %}
                {% for section in s_sections %}
                    {% include section.html section = section %}
                {% endfor %}

                {% include board.html %}
            </div>
        </div>

        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>