<section id="{{ site.navigation[5].slug }}" class="{{ site.navigation[5].slug }} section">
    {% include section-header.html index = 5 %}
    <div class="row">
        <div class="large-12 columns">
            <h2 data-magellan-destination="section-61" id="section-61" class="sub-title">2017 Board of Directors</h2>

            <div class="row">
                <div class="officers large-6 columns">
                    <h4 class="board-type">Officers</h4>
                    {% for member in site.data.board.officers %}
                        <p>
                            {% if member.position %}<span class="title">{{ member.position }}</span>{% endif %}
                            {{ member.name }}, <span class="organization">{{ member.org }}</span>
                        </p>
                    {% endfor %}
                </div>

                <div class="directors large-6 columns">
                    <h4 class="board-type">Directors</h4>
                    {% for member in site.data.board.directors %}
                        <p>
                            {% if member.position %}<span class="title">{{ member.position }}</span>{% endif %}
                            {{ member.name }}, <span class="organization">{{ member.org }}</span>
                        </p>
                    {% endfor %}
                </div>

                <div class="exec large-6 columns">
                    <h4 class="board-type">Executive Committee</h4>
                    {% for member in site.data.board.exec %}
                        <p>
                            {% if member.position %}<span class="title">{{ member.position }}</span>{% endif %}
                            {{ member.name }}, <span class="organization">{{ member.org }}</span>
                        </p>
                    {% endfor %}
                </div>

                <div class="ex-officio large-6 columns">
                    <h4 class="board-type">Ex-officio</h4>
                    {% for member in site.data.board.exofficio %}
                        <p>
                            {% if member.position %}<span class="title">{{ member.position }}</span>{% endif %}
                            {{ member.name }}, <span class="organization">{{ member.org }}</span>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>