<div class="row">
    <div class="large-12 columns">
        <h3 class="section-title">{{ site.navigation[0].title }}</h3>
        <h2 class="sub-title">LCC in 2015: A Year in Review</h2>
        <div class="alignright cf">
            <div class="bio"> 
                {% include lazy-image.html src="/img/bio_matsumoto-alan.jpg" height="187" width="150" alt="matsumoto" %}
                <p class="caption"><b>Alan H. Matsumoto</b>,<br/> MD, FSIR<br/> <em>SIR President</em></p>
            </div>
        </div>

        <p>Interventional radiology is a medical specialty with the patient at its very foundation. It evolved out of the patient’s need for better treatments and indeed, one of the key hallmarks  of the specialty—“minimally invasive”—is something most  patients desire. As a field known for innovative procedures evolved to find new and better ways to reduce pain and provide better outcomes, the impact of interventional radiology has always kept the patient front and center. Even as interventional radiologists develop disease-specific relationships with their patients, the specialty has never lost sight that patient impact is at the center of what we do. </p>

        <p>That’s why this year we are reporting Society of Interventional Radiology and SIR Foundation accomplishments through the lens of the patient. The year’s highlights have been organized according to what these activities ultimately mean for patients, and each section leads off with a patient story that illustrates impact in their own words.</p>
        <p>What does interventional radiology promise—and deliver—to patients?</p>

        <div class="clearout">
            <div class="{{ site.navigation[1].slug }} icon-box cf">
                <a href="#{{ site.navigation[1].slug }}" class="icon-circle alignleft">
                    <object type="image/svg+xml" data="{{ site.cdnurl }}/img/icon-care.svg" alt="icon-care" height="120" width="120"> 
                        <img src="{{ site.cdnurl }}/img/icon-care.png" width="120" height="120" alt="icon-care" /> 
                    </object>
                </a>
                <h4 class="box-title">{{ site.navigation[1].title }}</h4>
                <p>Specialty-specific education of the next generation of IRs that emphasizes the clinical care of patients, quality and performance improvement initiatives to improve patient outcomes, and a larger, more diverse workforce to meet the needs of diverse patients.</p>
            </div>
            <div class="{{ site.navigation[2].slug }} icon-box cf">
                <a href="#{{ site.navigation[2].slug }}" class="icon-circle alignleft">
                    <object type="image/svg+xml" data="{{ site.cdnurl }}/img/icon-future.svg" alt="icon-future" height="120" width="120"> 
                        <img src="{{ site.cdnurl }}/img/icon-future.png" width="120" height="120" alt="icon-future" /> 
                    </object>
                </a>
                <h4 class="box-title">{{ site.navigation[2].title }}</h4>
                <p>Innovative research that tackles medicine’s most vexing problems, a constant quest for the best in patient outcomes, and a collaborative community that enthusiastically shares its knowledge with members and the world at large.</p>
            </div>
            <div class="{{ site.navigation[3].slug }} icon-box cf">
                <a href="#{{ site.navigation[3].slug }}" class="icon-circle alignleft">
                    <object type="image/svg+xml" data="{{ site.cdnurl }}/img/icon-present.svg" alt="icon-present" height="120" width="120"> 
                        <img src="{{ site.cdnurl }}/img/icon-present.png" width="120" height="120" alt="icon-present" /> 
                    </object>
                </a>
                <h4 class="box-title">{{ site.navigation[3].title }}</h4>
                <p>Legislative and industry support that provides the resources and the environment for the continued questioning that characterizes interventional radiology and works to the benefit of all patients.</p>
            </div>
        </div>
    </div>
</div>
<span data-magellan-destination="{{ site.navigation[1].slug }}"></span> 