<div class="row">
    <div class="large-12 columns">
        <h3 class="section-title">{{ site.navigation[0].title }}</h3>
        <h2 class="sub-title">Dear Fellow Chamber Members,</h2>

        <p>Happy 2016!</p>

        <p>I am very honored and humbled to have been afforded the opportunity to take on the role of Chairman of the Board of the Loudoun County Chamber of Commerce for 2015.</p>

        <p>I am extremely proud of the Chamber’s larger accomplishments this year:</p>

        <ul class="bullets">
            <li>The Chamber’s Policy Committee, through its PolicyMaker Series and Loudoun BizVotes, successfully educated our members and many other Loudoun County residents, bringing clarity to the fog of campaign rhetoric.</li>
            <li>Following a huge membership drive in 2014, a special emphasis on new member retention by our Membership Chairman, Mitch Sproul, has successfully kept our total membership value steady for the past two years.</li>
            <li>In its first full year of existence, the Loudoun Chamber Foundation will make two series of grants to assist local nonprofits in their efforts that coincide with the Chamber’s Strategic Plan.</li>
        </ul>

        <p>For the past few years, I have been working closely with our incoming 2016 Chairman, Greg Jay. He is a longtime resident and businessman in Loudoun County, and has become a good friend of mine. I am confident that the Chamber is now in great hands.</p> 

        <p>Thank you for all for Being a Part of It!, and thank you again for granting me the privilege of leading the Loudoun County Chamber of Commerce for the last year.</p>

        <div class="bio-image"> 
            {% include lazy-image.html src="jay_greg.jpg" height="187" width="150" alt="Greg Jay" %}
        </div>

        <div class="signature">
            <p>Sincerely,</p>
            {% include lazy-image.html src="jay_greg-signature.gif" height="86" width="240" alt="Greg Jay Signature" %}
            <p>Greg Jay<br> <em>Chairman, 868 Estate Vineyards</em></p>
        </div>

        <div class="clearout" style="display: none;">
            {% for i in (1..3) %}
            <div class="{{ site.navigation[i].slug }} icon-box cf">
                <a href="#{{ site.navigation[i].slug }}" class="icon-circle alignleft">
                    <object type="image/svg+xml" data="{{ 'icon/icon-' | append: site.navigation[i].slug | append: '.svg' | prepend: site.imgpath | prepend: site.cdnurl }}" alt="icon-{{ site.navigation[1].slug }}" height="120" width="120"> 
                        <img src="{{ 'icon/icon-' | append: site.navigation[i].slug | append: '.png' | prepend: site.imgpath | prepend: site.cdnurl }}" width="120" height="120" alt="icon-care" /> 
                    </object>
                </a>
                <h4 class="box-title">{{ site.navigation[i].title }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<span data-magellan-destination="{{ site.navigation[1].slug }}"></span> 