<nav id="main-nav" data-magellan-expedition="fixed">
    <div class="logo-wrap">
        <object type="image/svg+xml" data="{{ 'logo/logo_lcc.svg' | prepend: site.imgpath | prepend: site.cdnurl }}" alt="Loudoun Chamber of Commerce Logo"> 
            <img src="{{ 'logo/logo_lcc.png' | prepend: site.imgpath | prepend: site.cdnurl }}" width="185" height="95" alt="Loudoun Chamber of Commerce Logo" /> 
        </object>
    </div>
    <dl class="sub-nav">
        {% for item in site.navigation %}
            <dd data-magellan-arrival="{{ item.slug }}"><a href="#{{ item.slug }}">{{ item.title }}</a></dd>
        {% endfor %}
    </dl>
</nav>