<section id="{{ site.navigation[forloop.index].slug }}" class="{{ site.navigation[forloop.index].slug }} section">
    {% include section-header.html index = forloop.index %}
    <div class="row">
        <div class="large-12 columns">

            {% if include.section.story != nil %}
                <article class="story boxed">
                    {{ include.section.story }}
                </article>
            {% endif %}
            
            {% if include.section.stats != nil %}
                <div class="icon-stats">
                    {% for stat in include.section.stats %}
                        <aside class="stat">
                            <div class="icon">
                                <object type="image/svg+xml" data="{{ stat.icon.file | prepend: 'icon/' | prepend: site.imgpath | prepend: site.cdnurl }}.svg" alt="{{ stat.icon.alt }}" height="{{ stat.icon.h }}" width="{{ stat.icon.w }}"> 
                                    <img src="{{ stat.icon.file | prepend: 'icon/' | prepend: site.imgpath | prepend: site.cdnurl }}.png" width="{{ stat.icon.w }}" height="{{ stat.icon.h }}" alt="{{ stat.icon.alt }}" /> 
                                </object>
                            </div>
                            <div class="number">
                                <p><span>{{ stat.number }}</span> {{ stat.text }}</p>
                            </div>
                        </aside>
                    {% endfor %}
                </div>
            {% endif %}

            {% if include.section.gallery != nil %}
                <div class="gallery row">
                    {% assign section_index = forloop.index %}
                    {% assign counter = 0 %}
                    {% for item in include.section.gallery %}
                        {% if item.gallery != false %}
                            <div class="gallery-item {{ item.type }} col-{{ item.cols | default: '2-2' }}{% if item.new != false %} new-row{% endif %}{% if item.right %} right{% endif %}"{% if item.type == 'image' %} data-index="{{ counter }}"{% endif %}>
                                <div class="inner">
                                    {% if item.type == 'image' %}
                                        {% assign counter = counter | plus: 1 %}
                                        {% include lazy-image.html src = item.src height = item.h width = item.w alt = item.alt %}
                                    {% elsif item.type == 'quote' %}
                                        <blockquote>{{ item.text }}</blockquote>
                                        <div class="attribution">{{ item.attribution }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="image-slideshow slideshow-wrap row">
                    <div class="slideshow-container">
                        <div id="{{ site.navigation[forloop.index].slug }}-gallery" class="slideshow">
                            {% assign section_index = forloop.index %}
                            {% for item in include.section.gallery %}
                                {% if item.type == 'image' %}
                                    {% assign srcparts = item.src | split: '.' %}
                                    <div class="gallery-item">
                                        <div class="inner">
                                            <img src="{{ srcparts[0] | prepend: site.imgpath | prepend: site.cdnurl }}.{{ srcparts[1] }}" height="{{ item.h }}" width="{{ item.w }}" alt="{{ item.alt }}" />
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="quote-slideshow slideshow-wrap row">
                    <div class="slideshow">
                        {% assign section_index = forloop.index %}
                        {% for item in include.section.gallery %}
                            {% if item.type == 'quote' %}
                                <div class="gallery-item">
                                    <div class="inner">
                                        <blockquote>{{ item.text }}</blockquote>
                                        <div class="attribution">{{ item.attribution }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    {% assign next = forloop.index | plus: 1 %}
    <span data-magellan-destination="{{ site.navigation[next].slug }}"></span> 
</section>