/******************************************************************
Site Name: LCC Annual Report 2016
Author: Sagetopia

Stylesheet: Main Stylesheet
******************************************************************/

// Sass variables
@import "partials/variables";

body {
	font-size: 1em;
}